<div class="modal">
    <h1 mat-dialog-title>Viajante</h1>
    <mat-dialog-content class="selecao-idade">
        <ul class="lista-idade">
            <li>
                <button class="decremento" mat-mini-fab>
                     <img
                      src="assets/do_not_disturb_on.png"
                      alt="Operador de subtração">
                 </button>
                 <span>1</span>
                 <button class="incremento" mat-mini-fab>
                     <img
                      src="assets/add_circle.png"
                      alt="Operador de adição">
                  </button>
            </li>
        </ul>
    </mat-dialog-content>
</div>