<!-- Queremos rotear isso para a pagina principal -->
<app-banner src="assets/banner-homepage.png" alt="Banner da aplicacao Jornada"></app-banner>
<!-- Injetei o componente no container -->
<app-container class="homepage">
    <h2>Promoções</h2>
    <app-form-busca></app-form-busca>
    <div class="card-wrapper">
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
        <app-card-busca></app-card-busca>
    </div>
    <h2>Depoimentos</h2>
    <div class="depoimentos-wrapper">
        <app-card-depoimento></app-card-depoimento>
        <app-card-depoimento></app-card-depoimento>
        <app-card-depoimento></app-card-depoimento> 
    </div>
</app-container>